@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome - Authorizing OAuth Apps
</h1>
    <p>Learn about <a href="https://docs.github.com/en/apps/oauth-apps/building-oauth-apps/authorizing-oauth-apps">You can enable other users to authorize your OAuth App.</a>.</p>
</div>
